
/* Efectos de transición estilo Hollywood */

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.hidden {
  display: none;
}
